extends layout

block content
  h1= title
  br
  h4 Yachtly Full-Stack Developer Screening Test Application
  a(href="mailto:soetedja@gmail.com") soetedja@gmail.com
  hr
  h3 Application list: 
  hr
  a(href="/users") Angular + Boostrap 2
  hr
  a(href="/app") React + Boostrap 4 + Webpack
